:root {
  --ship-size: 10vmin;
  --sky-color: #1C1740;
  --ship-color: #F9E2FE;
  --ship-cap-color: crimson;
  --ship-wing-color: #4C3198;
  --ship-window-trim-color: #4C3198;
  --ship-booster-color: #C38382;
  --star-color: white;
  --stars-sm-speed: 5s;
  --stars-md-speed: 2s;
  --stars-lg-speed: 1s;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: var(--sky-color);
}

.ship,
.star-field {
  position: absolute;
  top: 50%;
  left: 50%;
  will-change: transform;
  transition: transform 0.4s ease;
  transform: translate(-50%, -50%);
}

.star-field {
  width: 200%;
  height: 200%;
  transition: transform 1s ease-out;
}

.hover-area {
  flex-grow: 1;
  z-index: 3;
}
.hover-area:nth-child(1):hover ~ .ship, .hover-area:nth-child(1):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.hover-area:nth-child(2):hover ~ .ship, .hover-area:nth-child(2):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-80deg);
}
.hover-area:nth-child(3):hover ~ .ship, .hover-area:nth-child(3):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-70deg);
}
.hover-area:nth-child(4):hover ~ .ship, .hover-area:nth-child(4):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-60deg);
}
.hover-area:nth-child(5):hover ~ .ship, .hover-area:nth-child(5):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-50deg);
}
.hover-area:nth-child(6):hover ~ .ship, .hover-area:nth-child(6):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-40deg);
}
.hover-area:nth-child(7):hover ~ .ship, .hover-area:nth-child(7):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-30deg);
}
.hover-area:nth-child(8):hover ~ .ship, .hover-area:nth-child(8):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-20deg);
}
.hover-area:nth-child(9):hover ~ .ship, .hover-area:nth-child(9):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(-10deg);
}
.hover-area:nth-child(10):hover ~ .ship, .hover-area:nth-child(10):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(0deg);
}
.hover-area:nth-child(11):hover ~ .ship, .hover-area:nth-child(11):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(0deg);
}
.hover-area:nth-child(12):hover ~ .ship, .hover-area:nth-child(12):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(10deg);
}
.hover-area:nth-child(13):hover ~ .ship, .hover-area:nth-child(13):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(20deg);
}
.hover-area:nth-child(14):hover ~ .ship, .hover-area:nth-child(14):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(30deg);
}
.hover-area:nth-child(15):hover ~ .ship, .hover-area:nth-child(15):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(40deg);
}
.hover-area:nth-child(16):hover ~ .ship, .hover-area:nth-child(16):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(50deg);
}
.hover-area:nth-child(17):hover ~ .ship, .hover-area:nth-child(17):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(60deg);
}
.hover-area:nth-child(18):hover ~ .ship, .hover-area:nth-child(18):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(70deg);
}
.hover-area:nth-child(19):hover ~ .ship, .hover-area:nth-child(19):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(80deg);
}
.hover-area:nth-child(20):hover ~ .ship, .hover-area:nth-child(20):hover ~ .star-field {
  transform: translate(-50%, -50%) rotate(90deg);
}
.hover-area:active ~ .star-field .stars-sm:before, .hover-area:active ~ .star-field .stars-sm:after {
  animation-duration: calc(var(--stars-sm-speed) / 2);
}
.hover-area:active ~ .star-field .stars-sm:after {
  animation-delay: calc(var(--stars-sm-speed) / -4);
}
.hover-area:active ~ .star-field .stars-md:before, .hover-area:active ~ .star-field .stars-md:after {
  animation-duration: calc(var(--stars-md-speed) / 2);
}
.hover-area:active ~ .star-field .stars-md:after {
  animation-delay: calc(var(--stars-md-speed) / -4);
}
.hover-area:active ~ .star-field .stars-lg:before, .hover-area:active ~ .star-field .stars-lg:after {
  animation-duration: calc(var(--stars-lg-speed) / 2);
}
.hover-area:active ~ .star-field .stars-lg:after {
  animation-delay: calc(var(--stars-lg-speed) / -4);
}
.hover-area:active ~ .ship .wrapper {
  animation: speed-up-ship 80ms linear infinite alternate;
}
.hover-area:active ~ .ship .exhaust {
  animation: speed-up-exhaust 80ms linear infinite alternate;
}

.ship .wrapper {
  display: flex;
}

.ship .body {
  position: relative;
  background-color: var(--ship-color);
  border-radius: 0 0 50% 50% / 76% 76% 15% 15%;
}
.ship .body:before {
  content: '';
  position: absolute;
  border-radius: 50% 50% 50% 50% / 76% 76% 25% 25%;
}

.ship .main {
  width: var(--ship-size);
  height: calc(var(--ship-size) * 1.5);
  box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 0 2vmin 0;
}
.ship .main:before {
  bottom: 80%;
  width: 100%;
  height: 75%;
  background-color: inherit;
  box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 1vmin 1vmin 0;
}
.ship .main:after {
  content: '';
  position: absolute;
  bottom: 75%;
  left: 0;
  right: 0;
  margin: auto;
  border: calc(var(--ship-size) / 15) solid var(--ship-window-trim-color);
  width: calc(var(--ship-size) / 1.8);
  height: calc(var(--ship-size) / 1.8);
  box-shadow: inset rgba(0, 0, 0, 0.075) -2vmin -2vmin 0 0, inset rgba(0, 0, 0, 0.1) -1vmin -1.5vmin 0 0;
  border-radius: 100%;
}

.ship .side {
  width: calc(var(--ship-size) / 3);
  height: var(--ship-size);
  box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 0 1vmin 0, inset rgba(0, 0, 0, 0.1) 0.5vmin 0 1vmin 0;
}
.ship .side:before {
  bottom: 90%;
  width: 100%;
  height: 35%;
  background-color: var(--ship-cap-color);
  box-shadow: inset rgba(0, 0, 0, 0.2) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.2) 0.5vmin 1vmin 1vmin 0;
}
.ship .side.left {
  left: 1px;
}
.ship .side.right {
  right: 1px;
}

.ship .wing {
  position: absolute;
  bottom: 2vmin;
  background-color: var(--ship-wing-color);
  width: calc(var(--ship-size) / 2);
  height: calc(var(--ship-size) / 1.5);
  z-index: 1;
  box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.1) 0.5vmin 1vmin 1vmin 0;
}
.ship .wing.left {
  right: 100%;
  border-radius: 100% 0 10% 10%;
}
.ship .wing.right {
  left: 100%;
  border-radius: 0 100% 10% 10%;
}

.ship .booster {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--ship-size) / 1.2);
  height: calc(var(--ship-size) / 2.5);
  background-color: var(--ship-booster-color);
  border-radius: 0 0 50% 50% / 76% 76% 35% 35%;
  z-index: -1;
  box-shadow: inset rgba(0, 0, 0, 0.3) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.3) 0.5vmin 1vmin 1vmin 0, black 0 0 2vmin;
}

.ship .exhaust {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--ship-size) / 1.4);
  height: 80%;
  border-radius: 0 0 100% 100%;
  background-image: linear-gradient(to bottom, yellow, transparent 70%);
  z-index: -2;
  transform-origin: 50% 0;
  animation: exhaust 0.1s linear alternate infinite;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
}
.stars:before, .stars:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: stars linear infinite;
  transform: translateY(-100vh);
}
.stars-sm {
  width: 1px;
  height: 1px;
}
.stars-sm:before, .stars-sm:after {
  box-shadow: 72vw 50vh var(--star-color), 156vw 1vh var(--star-color), 9vw 156vh var(--star-color), 140vw 127vh var(--star-color), 81vw 17vh var(--star-color), 137vw 184vh var(--star-color), 62vw 108vh var(--star-color), 41vw 145vh var(--star-color), 4vw 143vh var(--star-color), 92vw 153vh var(--star-color), 198vw 58vh var(--star-color), 142vw 86vh var(--star-color), 103vw 164vh var(--star-color), 76vw 88vh var(--star-color), 69vw 199vh var(--star-color), 176vw 54vh var(--star-color), 175vw 30vh var(--star-color), 196vw 74vh var(--star-color), 142vw 101vh var(--star-color), 57vw 89vh var(--star-color), 50vw 108vh var(--star-color), 2vw 41vh var(--star-color), 22vw 60vh var(--star-color), 24vw 44vh var(--star-color), 68vw 174vh var(--star-color), 146vw 109vh var(--star-color), 11vw 9vh var(--star-color), 196vw 64vh var(--star-color), 151vw 31vh var(--star-color), 108vw 24vh var(--star-color), 95vw 143vh var(--star-color), 199vw 41vh var(--star-color), 80vw 145vh var(--star-color), 103vw 42vh var(--star-color), 144vw 101vh var(--star-color), 113vw 66vh var(--star-color), 94vw 39vh var(--star-color), 163vw 158vh var(--star-color), 171vw 117vh var(--star-color), 173vw 48vh var(--star-color), 45vw 95vh var(--star-color), 198vw 13vh var(--star-color), 145vw 44vh var(--star-color), 72vw 120vh var(--star-color), 8vw 16vh var(--star-color), 179vw 116vh var(--star-color), 100vw 115vh var(--star-color), 30vw 90vh var(--star-color), 77vw 97vh var(--star-color), 119vw 132vh var(--star-color), 8vw 43vh var(--star-color), 179vw 18vh var(--star-color), 55vw 27vh var(--star-color), 147vw 190vh var(--star-color), 166vw 131vh var(--star-color), 149vw 198vh var(--star-color), 190vw 183vh var(--star-color), 178vw 22vh var(--star-color), 62vw 199vh var(--star-color), 144vw 76vh var(--star-color), 167vw 73vh var(--star-color), 171vw 51vh var(--star-color), 174vw 95vh var(--star-color), 38vw 67vh var(--star-color), 98vw 42vh var(--star-color), 38vw 49vh var(--star-color), 11vw 92vh var(--star-color), 22vw 187vh var(--star-color), 52vw 200vh var(--star-color), 77vw 79vh var(--star-color), 161vw 31vh var(--star-color), 35vw 175vh var(--star-color), 153vw 155vh var(--star-color), 46vw 199vh var(--star-color), 70vw 185vh var(--star-color), 98vw 194vh var(--star-color), 153vw 58vh var(--star-color), 150vw 128vh var(--star-color), 67vw 97vh var(--star-color), 115vw 23vh var(--star-color), 1vw 142vh var(--star-color), 125vw 43vh var(--star-color), 6vw 175vh var(--star-color), 59vw 111vh var(--star-color), 106vw 149vh var(--star-color), 175vw 37vh var(--star-color), 5vw 64vh var(--star-color), 97vw 21vh var(--star-color), 132vw 199vh var(--star-color), 182vw 38vh var(--star-color), 70vw 175vh var(--star-color), 139vw 2vh var(--star-color), 109vw 147vh var(--star-color), 101vw 138vh var(--star-color), 14vw 131vh var(--star-color), 198vw 111vh var(--star-color), 173vw 190vh var(--star-color), 86vw 155vh var(--star-color), 118vw 54vh var(--star-color), 187vw 98vh var(--star-color), 168vw 157vh var(--star-color), 145vw 197vh var(--star-color), 126vw 81vh var(--star-color), 163vw 47vh var(--star-color), 120vw 43vh var(--star-color), 6vw 111vh var(--star-color), 47vw 134vh var(--star-color), 35vw 174vh var(--star-color), 45vw 55vh var(--star-color), 113vw 110vh var(--star-color), 46vw 179vh var(--star-color), 160vw 129vh var(--star-color), 194vw 100vh var(--star-color), 47vw 129vh var(--star-color), 38vw 32vh var(--star-color), 8vw 57vh var(--star-color), 175vw 155vh var(--star-color), 110vw 97vh var(--star-color), 117vw 152vh var(--star-color), 138vw 105vh var(--star-color), 100vw 48vh var(--star-color), 58vw 12vh var(--star-color), 22vw 120vh var(--star-color), 100vw 132vh var(--star-color), 104vw 138vh var(--star-color), 143vw 135vh var(--star-color), 114vw 34vh var(--star-color), 131vw 118vh var(--star-color), 142vw 197vh var(--star-color), 137vw 126vh var(--star-color), 52vw 2vh var(--star-color), 15vw 103vh var(--star-color), 13vw 125vh var(--star-color), 193vw 148vh var(--star-color), 9vw 4vh var(--star-color), 195vw 139vh var(--star-color), 148vw 26vh var(--star-color), 50vw 87vh var(--star-color), 17vw 20vh var(--star-color), 153vw 175vh var(--star-color), 101vw 125vh var(--star-color), 115vw 66vh var(--star-color), 19vw 169vh var(--star-color), 47vw 103vh var(--star-color), 135vw 1vh var(--star-color), 78vw 115vh var(--star-color), 137vw 42vh var(--star-color), 94vw 50vh var(--star-color), 139vw 83vh var(--star-color), 131vw 195vh var(--star-color), 50vw 17vh var(--star-color), 116vw 45vh var(--star-color), 73vw 24vh var(--star-color), 65vw 12vh var(--star-color), 178vw 90vh var(--star-color), 100vw 3vh var(--star-color), 170vw 163vh var(--star-color), 195vw 196vh var(--star-color), 100vw 169vh var(--star-color), 81vw 164vh var(--star-color), 105vw 144vh var(--star-color), 175vw 86vh var(--star-color), 134vw 23vh var(--star-color), 175vw 26vh var(--star-color), 200vw 44vh var(--star-color), 71vw 145vh var(--star-color), 140vw 27vh var(--star-color), 200vw 34vh var(--star-color), 93vw 52vh var(--star-color), 36vw 116vh var(--star-color), 1vw 29vh var(--star-color), 17vw 38vh var(--star-color), 140vw 136vh var(--star-color), 42vw 112vh var(--star-color), 179vw 195vh var(--star-color), 109vw 74vh var(--star-color), 147vw 18vh var(--star-color), 138vw 162vh var(--star-color), 173vw 76vh var(--star-color), 176vw 199vh var(--star-color), 102vw 31vh var(--star-color), 114vw 162vh var(--star-color), 34vw 48vh var(--star-color), 62vw 64vh var(--star-color), 81vw 170vh var(--star-color), 45vw 29vh var(--star-color), 151vw 43vh var(--star-color), 39vw 127vh var(--star-color), 69vw 25vh var(--star-color), 56vw 100vh var(--star-color), 157vw 72vh var(--star-color), 151vw 163vh var(--star-color), 27vw 89vh var(--star-color), 32vw 162vh var(--star-color), 21vw 110vh var(--star-color), 88vw 187vh var(--star-color), 27vw 128vh var(--star-color), 28vw 106vh var(--star-color), 92vw 56vh var(--star-color), 148vw 8vh var(--star-color), 63vw 38vh var(--star-color), 82vw 151vh var(--star-color), 97vw 105vh var(--star-color), 63vw 62vh var(--star-color), 165vw 51vh var(--star-color), 1vw 116vh var(--star-color), 165vw 149vh var(--star-color), 134vw 75vh var(--star-color), 114vw 79vh var(--star-color), 190vw 75vh var(--star-color), 113vw 83vh var(--star-color), 18vw 3vh var(--star-color), 157vw 172vh var(--star-color), 92vw 76vh var(--star-color), 195vw 27vh var(--star-color), 5vw 97vh var(--star-color), 2vw 56vh var(--star-color), 48vw 135vh var(--star-color), 198vw 146vh var(--star-color), 5vw 54vh var(--star-color), 27vw 164vh var(--star-color), 51vw 47vh var(--star-color), 88vw 107vh var(--star-color), 164vw 156vh var(--star-color), 13vw 103vh var(--star-color), 66vw 139vh var(--star-color), 16vw 59vh var(--star-color), 75vw 194vh var(--star-color), 184vw 186vh var(--star-color), 163vw 144vh var(--star-color), 2vw 145vh var(--star-color), 117vw 194vh var(--star-color), 4vw 16vh var(--star-color), 95vw 28vh var(--star-color), 96vw 198vh var(--star-color), 29vw 111vh var(--star-color), 142vw 4vh var(--star-color), 84vw 40vh var(--star-color), 88vw 46vh var(--star-color), 99vw 141vh var(--star-color), 119vw 178vh var(--star-color), 133vw 12vh var(--star-color), 23vw 65vh var(--star-color), 113vw 101vh var(--star-color), 184vw 130vh var(--star-color), 168vw 85vh var(--star-color), 138vw 139vh var(--star-color), 127vw 90vh var(--star-color), 108vw 81vh var(--star-color), 2vw 199vh var(--star-color), 13vw 54vh var(--star-color), 174vw 8vh var(--star-color), 47vw 81vh var(--star-color), 74vw 57vh var(--star-color), 15vw 191vh var(--star-color), 101vw 131vh var(--star-color), 51vw 8vh var(--star-color), 111vw 71vh var(--star-color), 108vw 154vh var(--star-color), 188vw 124vh var(--star-color), 136vw 95vh var(--star-color), 170vw 9vh var(--star-color), 114vw 148vh var(--star-color), 110vw 152vh var(--star-color), 137vw 175vh var(--star-color), 47vw 123vh var(--star-color), 161vw 74vh var(--star-color), 55vw 63vh var(--star-color), 53vw 147vh var(--star-color), 130vw 17vh var(--star-color), 141vw 4vh var(--star-color), 50vw 76vh var(--star-color), 172vw 152vh var(--star-color), 171vw 12vh var(--star-color), 174vw 28vh var(--star-color), 189vw 160vh var(--star-color), 130vw 4vh var(--star-color), 48vw 193vh var(--star-color), 67vw 41vh var(--star-color), 102vw 1vh var(--star-color), 131vw 54vh var(--star-color), 134vw 9vh var(--star-color), 59vw 190vh var(--star-color), 190vw 60vh var(--star-color), 151vw 161vh var(--star-color), 145vw 91vh var(--star-color), 6vw 87vh var(--star-color), 62vw 77vh var(--star-color), 61vw 125vh var(--star-color), 95vw 98vh var(--star-color), 49vw 141vh var(--star-color), 198vw 42vh var(--star-color), 74vw 147vh var(--star-color), 45vw 171vh var(--star-color), 182vw 59vh var(--star-color), 131vw 95vh var(--star-color), 103vw 60vh var(--star-color), 108vw 51vh var(--star-color), 94vw 112vh var(--star-color), 71vw 23vh var(--star-color), 186vw 75vh var(--star-color), 170vw 38vh var(--star-color), 84vw 71vh var(--star-color), 167vw 152vh var(--star-color), 142vw 65vh var(--star-color), 40vw 30vh var(--star-color), 103vw 8vh var(--star-color), 49vw 136vh var(--star-color), 125vw 127vh var(--star-color), 123vw 11vh var(--star-color), 131vw 179vh var(--star-color), 34vw 20vh var(--star-color), 188vw 45vh var(--star-color), 74vw 125vh var(--star-color), 196vw 70vh var(--star-color), 36vw 113vh var(--star-color), 10vw 127vh var(--star-color), 75vw 184vh var(--star-color), 148vw 68vh var(--star-color), 193vw 177vh var(--star-color), 8vw 185vh var(--star-color), 196vw 199vh var(--star-color), 134vw 20vh var(--star-color), 115vw 21vh var(--star-color), 100vw 113vh var(--star-color), 27vw 20vh var(--star-color), 78vw 10vh var(--star-color), 14vw 13vh var(--star-color), 80vw 138vh var(--star-color), 45vw 125vh var(--star-color), 154vw 186vh var(--star-color), 181vw 114vh var(--star-color), 169vw 111vh var(--star-color), 145vw 41vh var(--star-color), 10vw 78vh var(--star-color), 137vw 79vh var(--star-color), 173vw 152vh var(--star-color), 151vw 68vh var(--star-color), 188vw 32vh var(--star-color), 172vw 187vh var(--star-color), 25vw 12vh var(--star-color), 189vw 59vh var(--star-color), 47vw 171vh var(--star-color), 59vw 35vh var(--star-color), 31vw 154vh var(--star-color), 173vw 123vh var(--star-color), 83vw 6vh var(--star-color), 144vw 130vh var(--star-color), 47vw 89vh var(--star-color), 69vw 22vh var(--star-color), 178vw 86vh var(--star-color), 53vw 77vh var(--star-color), 12vw 25vh var(--star-color), 94vw 148vh var(--star-color), 47vw 42vh var(--star-color), 176vw 129vh var(--star-color), 31vw 63vh var(--star-color), 28vw 54vh var(--star-color), 7vw 29vh var(--star-color), 171vw 138vh var(--star-color), 137vw 184vh var(--star-color), 33vw 170vh var(--star-color), 139vw 78vh var(--star-color), 59vw 132vh var(--star-color), 10vw 7vh var(--star-color), 78vw 185vh var(--star-color), 185vw 80vh var(--star-color), 184vw 80vh var(--star-color), 72vw 48vh var(--star-color), 179vw 85vh var(--star-color), 73vw 177vh var(--star-color), 108vw 77vh var(--star-color), 29vw 150vh var(--star-color), 190vw 30vh var(--star-color), 33vw 94vh var(--star-color), 28vw 68vh var(--star-color), 16vw 36vh var(--star-color), 123vw 155vh var(--star-color), 79vw 23vh var(--star-color), 37vw 196vh var(--star-color), 82vw 156vh var(--star-color), 178vw 122vh var(--star-color), 108vw 177vh var(--star-color), 7vw 144vh var(--star-color), 159vw 187vh var(--star-color), 85vw 38vh var(--star-color), 197vw 62vh var(--star-color), 38vw 34vh var(--star-color), 60vw 128vh var(--star-color), 99vw 51vh var(--star-color), 186vw 150vh var(--star-color), 119vw 56vh var(--star-color), 88vw 112vh var(--star-color), 11vw 111vh var(--star-color), 2vw 131vh var(--star-color), 175vw 109vh var(--star-color), 147vw 96vh var(--star-color), 185vw 113vh var(--star-color), 12vw 52vh var(--star-color), 47vw 21vh var(--star-color), 164vw 111vh var(--star-color), 50vw 32vh var(--star-color), 181vw 17vh var(--star-color), 127vw 159vh var(--star-color), 38vw 187vh var(--star-color), 199vw 30vh var(--star-color), 33vw 178vh var(--star-color), 119vw 172vh var(--star-color), 79vw 81vh var(--star-color), 161vw 129vh var(--star-color), 83vw 120vh var(--star-color), 159vw 54vh var(--star-color), 145vw 2vh var(--star-color), 151vw 79vh var(--star-color), 28vw 136vh var(--star-color), 147vw 87vh var(--star-color), 63vw 54vh var(--star-color), 46vw 117vh var(--star-color), 134vw 175vh var(--star-color), 6vw 110vh var(--star-color), 17vw 163vh var(--star-color), 192vw 116vh var(--star-color), 196vw 111vh var(--star-color), 159vw 82vh var(--star-color), 150vw 168vh var(--star-color), 197vw 141vh var(--star-color), 70vw 123vh var(--star-color), 51vw 115vh var(--star-color), 193vw 176vh var(--star-color), 196vw 44vh var(--star-color), 29vw 118vh var(--star-color), 183vw 113vh var(--star-color), 115vw 101vh var(--star-color), 75vw 178vh var(--star-color), 75vw 126vh var(--star-color), 66vw 130vh var(--star-color), 1vw 165vh var(--star-color), 192vw 153vh var(--star-color), 117vw 112vh var(--star-color), 142vw 111vh var(--star-color), 14vw 181vh var(--star-color), 99vw 11vh var(--star-color), 84vw 124vh var(--star-color), 189vw 176vh var(--star-color), 42vw 70vh var(--star-color), 200vw 16vh var(--star-color), 34vw 22vh var(--star-color), 70vw 47vh var(--star-color), 183vw 140vh var(--star-color), 89vw 100vh var(--star-color), 42vw 132vh var(--star-color), 18vw 125vh var(--star-color), 66vw 179vh var(--star-color), 92vw 42vh var(--star-color), 22vw 152vh var(--star-color), 183vw 23vh var(--star-color), 183vw 129vh var(--star-color), 80vw 39vh var(--star-color), 73vw 67vh var(--star-color), 63vw 17vh var(--star-color), 198vw 191vh var(--star-color), 53vw 29vh var(--star-color), 27vw 88vh var(--star-color), 92vw 20vh var(--star-color), 173vw 162vh var(--star-color), 111vw 164vh var(--star-color), 10vw 94vh var(--star-color), 42vw 58vh var(--star-color), 103vw 118vh var(--star-color), 11vw 56vh var(--star-color), 16vw 182vh var(--star-color), 182vw 84vh var(--star-color), 125vw 146vh var(--star-color), 37vw 160vh var(--star-color), 189vw 152vh var(--star-color), 44vw 48vh var(--star-color), 37vw 90vh var(--star-color), 153vw 131vh var(--star-color), 185vw 159vh var(--star-color), 78vw 196vh var(--star-color), 11vw 60vh var(--star-color), 120vw 119vh var(--star-color), 73vw 106vh var(--star-color), 90vw 183vh var(--star-color), 172vw 28vh var(--star-color), 98vw 103vh var(--star-color), 125vw 139vh var(--star-color), 32vw 110vh var(--star-color), 55vw 22vh var(--star-color), 154vw 42vh var(--star-color), 189vw 133vh var(--star-color), 57vw 97vh var(--star-color), 46vw 66vh var(--star-color), 174vw 150vh var(--star-color), 18vw 198vh var(--star-color), 118vw 169vh var(--star-color), 184vw 135vh var(--star-color), 184vw 82vh var(--star-color), 57vw 70vh var(--star-color), 19vw 107vh var(--star-color);
  animation-duration: var(--stars-sm-speed);
}
.stars-sm:after {
  animation-delay: calc(var(--stars-sm-speed) / -2);
}
.stars-md {
  width: 2px;
  height: 2px;
}
.stars-md:before, .stars-md:after {
  box-shadow: 57vw 18vh var(--star-color), 153vw 156vh var(--star-color), 42vw 43vh var(--star-color), 189vw 111vh var(--star-color), 54vw 173vh var(--star-color), 116vw 199vh var(--star-color), 86vw 11vh var(--star-color), 44vw 126vh var(--star-color), 130vw 120vh var(--star-color), 92vw 26vh var(--star-color), 183vw 98vh var(--star-color), 71vw 152vh var(--star-color), 149vw 174vh var(--star-color), 7vw 1vh var(--star-color), 153vw 104vh var(--star-color), 20vw 41vh var(--star-color), 4vw 200vh var(--star-color), 61vw 88vh var(--star-color), 97vw 71vh var(--star-color), 175vw 61vh var(--star-color), 76vw 145vh var(--star-color), 72vw 147vh var(--star-color), 144vw 175vh var(--star-color), 148vw 136vh var(--star-color), 166vw 12vh var(--star-color), 161vw 32vh var(--star-color), 69vw 10vh var(--star-color), 99vw 106vh var(--star-color), 69vw 32vh var(--star-color), 12vw 136vh var(--star-color), 165vw 192vh var(--star-color), 168vw 189vh var(--star-color), 17vw 104vh var(--star-color), 147vw 102vh var(--star-color), 136vw 71vh var(--star-color), 60vw 65vh var(--star-color), 69vw 59vh var(--star-color), 16vw 1vh var(--star-color), 172vw 159vh var(--star-color), 146vw 154vh var(--star-color), 15vw 87vh var(--star-color), 39vw 67vh var(--star-color), 96vw 119vh var(--star-color), 143vw 188vh var(--star-color), 104vw 184vh var(--star-color), 156vw 127vh var(--star-color), 195vw 129vh var(--star-color), 47vw 148vh var(--star-color), 75vw 35vh var(--star-color), 161vw 18vh var(--star-color), 27vw 124vh var(--star-color), 105vw 176vh var(--star-color), 130vw 45vh var(--star-color), 88vw 60vh var(--star-color), 43vw 126vh var(--star-color), 35vw 142vh var(--star-color), 117vw 96vh var(--star-color), 157vw 107vh var(--star-color), 22vw 158vh var(--star-color), 105vw 80vh var(--star-color), 123vw 200vh var(--star-color), 128vw 189vh var(--star-color), 190vw 105vh var(--star-color), 174vw 157vh var(--star-color), 72vw 183vh var(--star-color), 49vw 156vh var(--star-color), 165vw 160vh var(--star-color), 33vw 191vh var(--star-color), 194vw 120vh var(--star-color), 80vw 175vh var(--star-color), 132vw 93vh var(--star-color), 51vw 44vh var(--star-color), 65vw 66vh var(--star-color), 169vw 24vh var(--star-color), 89vw 85vh var(--star-color), 198vw 171vh var(--star-color), 73vw 171vh var(--star-color), 81vw 20vh var(--star-color), 147vw 54vh var(--star-color), 148vw 127vh var(--star-color), 81vw 112vh var(--star-color), 197vw 105vh var(--star-color), 144vw 98vh var(--star-color), 95vw 91vh var(--star-color), 128vw 105vh var(--star-color), 15vw 131vh var(--star-color), 85vw 11vh var(--star-color), 186vw 81vh var(--star-color), 20vw 144vh var(--star-color), 160vw 69vh var(--star-color), 30vw 18vh var(--star-color), 67vw 93vh var(--star-color), 84vw 98vh var(--star-color), 77vw 83vh var(--star-color), 10vw 137vh var(--star-color), 61vw 100vh var(--star-color), 23vw 94vh var(--star-color), 16vw 74vh var(--star-color), 82vw 2vh var(--star-color), 117vw 122vh var(--star-color), 167vw 165vh var(--star-color), 27vw 130vh var(--star-color), 153vw 32vh var(--star-color), 156vw 108vh var(--star-color), 39vw 140vh var(--star-color), 101vw 151vh var(--star-color), 54vw 56vh var(--star-color), 178vw 154vh var(--star-color), 171vw 157vh var(--star-color), 194vw 106vh var(--star-color), 200vw 140vh var(--star-color), 112vw 114vh var(--star-color), 125vw 23vh var(--star-color), 56vw 189vh var(--star-color), 1vw 21vh var(--star-color), 71vw 24vh var(--star-color), 135vw 13vh var(--star-color), 142vw 62vh var(--star-color), 48vw 171vh var(--star-color), 115vw 198vh var(--star-color), 183vw 76vh var(--star-color), 173vw 136vh var(--star-color), 134vw 127vh var(--star-color), 121vw 180vh var(--star-color), 104vw 28vh var(--star-color), 28vw 49vh var(--star-color), 175vw 39vh var(--star-color), 76vw 30vh var(--star-color), 105vw 94vh var(--star-color), 41vw 60vh var(--star-color), 110vw 137vh var(--star-color), 85vw 92vh var(--star-color), 198vw 144vh var(--star-color), 48vw 25vh var(--star-color), 24vw 83vh var(--star-color), 130vw 58vh var(--star-color), 194vw 191vh var(--star-color), 151vw 170vh var(--star-color), 60vw 85vh var(--star-color), 199vw 67vh var(--star-color), 87vw 36vh var(--star-color), 178vw 115vh var(--star-color), 23vw 199vh var(--star-color), 73vw 18vh var(--star-color), 38vw 181vh var(--star-color), 2vw 43vh var(--star-color), 125vw 96vh var(--star-color), 124vw 190vh var(--star-color), 63vw 85vh var(--star-color), 148vw 123vh var(--star-color), 50vw 121vh var(--star-color), 21vw 143vh var(--star-color), 111vw 10vh var(--star-color), 25vw 47vh var(--star-color), 103vw 16vh var(--star-color), 93vw 32vh var(--star-color), 187vw 135vh var(--star-color), 3vw 144vh var(--star-color), 8vw 122vh var(--star-color), 28vw 82vh var(--star-color), 112vw 128vh var(--star-color), 152vw 24vh var(--star-color), 122vw 40vh var(--star-color), 101vw 136vh var(--star-color), 118vw 60vh var(--star-color), 13vw 47vh var(--star-color), 198vw 150vh var(--star-color), 146vw 48vh var(--star-color), 115vw 59vh var(--star-color), 30vw 89vh var(--star-color), 113vw 79vh var(--star-color), 173vw 120vh var(--star-color), 124vw 90vh var(--star-color), 193vw 173vh var(--star-color), 77vw 16vh var(--star-color), 139vw 187vh var(--star-color), 175vw 92vh var(--star-color), 7vw 153vh var(--star-color), 40vw 185vh var(--star-color), 163vw 79vh var(--star-color), 85vw 200vh var(--star-color), 197vw 57vh var(--star-color), 3vw 147vh var(--star-color), 63vw 74vh var(--star-color), 53vw 29vh var(--star-color), 69vw 70vh var(--star-color), 125vw 64vh var(--star-color), 175vw 2vh var(--star-color), 112vw 148vh var(--star-color), 177vw 162vh var(--star-color), 182vw 59vh var(--star-color), 134vw 196vh var(--star-color), 72vw 40vh var(--star-color), 183vw 103vh var(--star-color), 149vw 114vh var(--star-color), 64vw 61vh var(--star-color), 188vw 170vh var(--star-color), 45vw 153vh var(--star-color), 39vw 197vh var(--star-color), 37vw 90vh var(--star-color);
  animation-duration: var(--stars-md-speed);
}
.stars-md:after {
  animation-delay: calc(var(--stars-md-speed) / -2);
}
.stars-lg {
  width: 4px;
  height: 4px;
}
.stars-lg:before, .stars-lg:after {
  box-shadow: 7vw 94vh var(--star-color), 174vw 100vh var(--star-color), 53vw 38vh var(--star-color), 35vw 157vh var(--star-color), 20vw 81vh var(--star-color), 65vw 158vh var(--star-color), 99vw 9vh var(--star-color), 181vw 109vh var(--star-color), 46vw 116vh var(--star-color), 103vw 172vh var(--star-color), 86vw 21vh var(--star-color), 160vw 31vh var(--star-color), 118vw 38vh var(--star-color), 149vw 21vh var(--star-color), 181vw 180vh var(--star-color), 155vw 120vh var(--star-color), 127vw 80vh var(--star-color), 94vw 199vh var(--star-color), 14vw 159vh var(--star-color), 41vw 6vh var(--star-color), 150vw 54vh var(--star-color), 27vw 29vh var(--star-color), 111vw 112vh var(--star-color), 71vw 112vh var(--star-color), 21vw 114vh var(--star-color), 33vw 27vh var(--star-color), 24vw 115vh var(--star-color), 185vw 131vh var(--star-color), 114vw 24vh var(--star-color), 167vw 144vh var(--star-color), 156vw 64vh var(--star-color), 134vw 44vh var(--star-color), 192vw 83vh var(--star-color), 42vw 22vh var(--star-color), 118vw 55vh var(--star-color), 96vw 151vh var(--star-color), 77vw 127vh var(--star-color), 36vw 194vh var(--star-color), 30vw 178vh var(--star-color), 50vw 9vh var(--star-color), 131vw 148vh var(--star-color), 9vw 156vh var(--star-color), 71vw 127vh var(--star-color), 181vw 76vh var(--star-color), 158vw 25vh var(--star-color), 154vw 111vh var(--star-color), 14vw 85vh var(--star-color), 58vw 86vh var(--star-color), 38vw 172vh var(--star-color), 136vw 105vh var(--star-color);
  animation-duration: var(--stars-lg-speed);
}
.stars-lg:after {
  animation-delay: calc(var(--stars-lg-speed) / -2);
}

@keyframes stars {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes exhaust {
  to {
    transform: scaleX(0.98) translateY(-1vmin);
  }
}
@keyframes speed-up-exhaust {
  from {
    transform: scale(0.98, 1);
  }
  to {
    transform: scale(0.96, 1.5);
  }
}
@keyframes speed-up-ship {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(-3%);
  }
}
