@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;   /* 我追加上的 解决dome不完美之处 */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  font-family: poppins;
  line-height: 1.5;
  background: linear-gradient(110deg,#333 50%, #444 50%);
}

.nav{
  position: relative;
  display: flex;
  list-style: none;
  padding: 10px 20px;
}

.nav a {
  position: relative;
  padding: 0.6em 2em;
  font-size: 20px;
  border: none;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 1px 0 #888;
  z-index: 3;
}

/* 实际上是用另外两个元素追加到nav上，所产生的效果 */
.nav .slide1,
.nav .slide2 {
  position: absolute;
  display: inline-block;
  /* box-shadow: 1px 1px 0 #666; */
  /* cubic-bezier(0.23, 1, 0.32, 1.05) 元素移动后出现左右微震荡的原因 */
  /* 改cubic-bezier(0.23, 1, 0.32, 1.05) 没测试出效果
      改第二和第四震荡明显变大
      改第三会影响它运动的速度
   */
  transition: all 0.6s cubic-bezier(0.03, 1, 0.32, 1.05);
  /* 两个元素设置变行(skew)后
  一个设置background，一个设置border 
  后面用js来控制就完成了
  */
  transform: skew(-20deg);
  bottom: 0px;
  height: 100%;
}

.nav .slide1{
  /* 原来后面两位数是透明值， 真的是孤陋寡闻 */
  background: #eeeeee30;
  z-index: 2;
}

.nav .slide2{
  opacity: 0;
  background: transparent;
  border: 1px solid #eeeeee70;
  z-index: 1;
}